@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", "MS Mincho", serif;
    color: rgb(51 51 51 / 80%);
    font-weight: 300;
    letter-spacing: 0.018em;
    line-height: 1.8;
  }
}

.c-textarea__text {
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", "MS Mincho", serif;
  color: rgb(51 51 51 / 80%);
  font-weight: 300;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: 0.018em;
  font-size: 1.2rem;
  line-height: 1.8;
  white-space: pre-wrap;
  cursor: default;
}
